NEXT_PUBLIC_SANITY_PROJECT_ID=nswcuccj
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_STORE_WHATSAPP_NUMBER=919102609396
NEXT_PUBLIC_STORE_INSTAGRAM_URL=https://www.instagram.com/second_hand_mobile_hub1
NEXT_PUBLIC_STORE_INSTAGRAM_HANDLE=second_hand_mobile_hub1
NEXT_PUBLIC_STORE_ADDRESS=Kolkata Bus Stand, Imamganj, Gaya, Bihar
